* {
    box-sizing: border-box;
}
body {
    background-image: url(../img/oboi.jpg);
    background-attachment: fixed;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}
.comment-list {
    padding: 0;
    list-style: none;
}
.comment-item {
    border: 4px solid rgb(247, 247, 242);
    background-color: rgba(156, 185, 211, 0.8);
    padding: 15px;
    width: 90%;
    margin: 10px auto;
}

.heading-comment a {
    font-size: 18px;
    border: 1px solid black;
    background-image: linear-gradient(to left bottom, #48439b, #3cdbabe8, #2a8be0e8, #b462b9e1, #5594b0);
    text-decoration: none; 
    color: aliceblue;
    padding: 5px 15px ;
}
.heading-comment {
    margin-left: 5%;
} 
.comment-email {
    text-decoration: none;  
}