body {
    background-image: url(../img/oboi.jpg);
    background-attachment: fixed;
   font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}
.logout-btn {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(218, 216, 216);
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    font-size: 22px;
    margin-left: 8%;
    background-color: rgba(59, 119, 184, 0.8);
    color: aliceblue;
}
#user__email {
    text-decoration: none;
    font-size: 16px;
}
.user__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#user__list-item {
    width: 300px;
    margin: 0 20px 15px 0;
    padding: 10px;
    list-style: none;
    border: 1px solid #777;
    background-color: rgba(179, 189, 199, 0.8);
    border-radius: 5px;
}
#user__list-item:hover {
    box-shadow: 0 0 10px rgba(122, 121, 121, 0.5);
}
#web__site {
    text-decoration: none;
}
#post-btn {
    padding: 5px 20px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #221ccbb2, #006effbd, #0097e7, #00b594c9, #13cc37);
    color: aliceblue;
    font-size: 18px;
    border-radius: 2px;
}
.logout-img {
    width: 30px;
    border-radius: 50%;
}