* {
    box-sizing: border-box;
}
body {
    background-color: #777;
}
.post-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.post-item {
    background-color: aliceblue;
    padding: 15px;
    border: 1px solid rgb(252, 252, 252);
    width: 70%;
    margin: 0 auto;
}
.comment-btn {
    padding: 7px 15px;
    border-radius: 3px;
    background-color: chocolate;
}